@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background: #eee;
}

.bottom {

    font-size: 3rem;
}